body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* overflow-x: hidden; */
}

/* (min-width : 320px) */

h1 {
    margin: 0;
    position: relative;
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
}


/* HERO */
.hero-wrapper {
    /* background-image: url(../img/plant4.jpg); */
    /* background-size: cover;
    background-position: center; */
    /* background-repeat: ; */
    height: 100vh;
    /* position: a; */
    /* min-width: 100vw; */
    width: 100%;
    color: white;
    /* margin: 0;
    padding: 0; */
    /* opacity: 0.8; */
    position: relative;
    background-position: center;
}

.hero-wrapper::before {
    content: "";
    background-image: url(../img/plant4.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
}

/* MENU */
header {
    /* display: flex; */
    /* justify-content: center; */
    /* position: relative; */
    /* width: 100wh; */
    position: relative;
}

.fa-bars::before {
    font-size: 3rem;
    /* width: 100wh; */
    /* padding-top: 10rem; */
    /* position: absolute; */
    /* right: 10%; */
    /* color: #55ad00; */
    /* opacity: 0.; */
    /* text-align: ; */
}

.dropbtn {
    margin: 1rem;
    /* text-decoration: none; */
    /* color: inherit; */
    /* width: 100wh; */
}

/* DROPDOWN MENU */
.dropdown {
    position: relative;
    display: flex;
    /* flex-direction: row; */
    /* width: 100wh; */
  }

.dropdown-content {
    display: none;
    position: absolute;
    top: 1.1rem;
    left: 4rem;
    /* left: 50px; */
    /* min-width: 100vw; */
    width: 100vw;
    z-index: 1;
    overflow: hidden;
    background-color: white;
    /* border-radius: .5rem; */
    opacity: 0.5;
}

.dropdown-content a {
    display: flex;
    /* justify-content: space-between; */
    text-decoration: none;
    color: black;
    font-size: .9rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: .8rem .25rem .8rem .25rem;
    /* text-align: center; */
    
    /* text-align: right; */
}

.dropdown-content a:hover {
    background-color: #fca311;;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: row;
}

/* HERO TEXT */
.hero-text {
    display: grid;
    place-items: center;
    padding: 3rem;
    position: relative;
}

.hero-h1 {
    /* text-align: center; */
    /* font-family: 'Pacifico', cursive; */
    /* font-size: 3rem; */
    color: #fca311;
    
}

.hero-parag {
    font-style: italic;
    opacity: 0.6;
    /* font-size: 1.2rem; */
}

.start-btn {
    background-color: #fca311;
    padding: 0.5rem 3rem;
    border-radius: 2rem;
    font-weight: bold;
    margin: 4rem 0;
    text-transform: uppercase;
}

.start-btn:hover {
    font-size: 150%;
    background-color: transparent;
    color: #fca311;
    border: #fca311 7px solid;
    /* text-transform: uppercase; */
    transition: font-size 100ms ease-in-out;
    /* transition: font-size 200ms linear; */
    transform: rotate(90deg);
    
}

/* MISSION */
.about-wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    /* display: grid;
    place-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-wrapper::before {
    content: "";
    background-image: url(../img/plant3.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

/* .about-h1 {
    margin: 0;
    position: relative;
    text-align: center;
} */
/* .team-main-h1 {
    margin: 0;
    position: relative;
    text-align: center;
    padding: 1rem;
} */

.about-parag {
    position: relative;
    margin: 3rem;
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
}

/* TEAM */
.team-wrapper {
    position: relative;
    background-position: center;
    /* height: 100vh; */
    width: 100%;
}

.team-wrapper::before {
    content: "";
    background-image: url(../img/plant1.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

/* .team-main-h1 {
    margin: 0;
    position: relative;
    text-align: center;
    padding: 1rem;
} */

.all-members-box {
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
}

.member-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* align-items: flex-start; */
    /* border: 2px solid black; */
    margin: .5rem 1rem;
    /* padding: .2rem; */
    /* padding-top: .6rem; */
    background-color: white;
    box-shadow: 0px 2px 8px 0px rgb(95, 110, 91);
    position: relative;
    /* overflow: hidden; */
    margin-bottom: 3rem;
    width: 50%;
    /* height: 10%; */
    min-width: 250px;
    max-width: 330px;
    border-radius: .5rem;
}

.member-img {
    width: 100%;
    border-radius: inherit;
    /* border-radius: 4rem; */
    /* position: absolute; */
    /* bottom: 70%;
    left: 38%; */
    /* overflow: hidden; */
    /* background-color: white; */
    /* padding: .2rem; */
    /* margin: .5rem; */
    filter: grayscale(100%);
}

.member-img:hover {
    filter: grayscale(0%);
}

.member-name {
    font-weight: 600;
    font-size: 1.2rem;
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.member-title {
    font-style: italic;
    color: rgb(98, 98, 98);
    
}

.member-info {
    font-size: .8rem;
    margin: 0 .3rem .7rem .3rem;
}

.member-btn {
    width: 90%;
    max-width: 120px;
    padding: .5rem 1.2rem;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #4C821C;
    border: none;
    /* margin-bottom: .3rem; */
    color: white;
    margin-bottom: .6rem;
    cursor: pointer;
}

.member-btn:hover {
    opacity: 0.7;
}

/* .member3 {
    display: none;
} */

/* GALLERY */
.gallery-wrapper {
    position: relative;
    background-position: center;
    /* height: 100vh; */
    width: 100%;
}

.gallery-wrapper::before {
    content: "";
    background-image: url(../img/plant6.jpg);
    background-size: cover;
    /* background-position: center; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

/* .gallery-h1 {
    margin: 0;
    position: relative;
    text-align: center;
    padding: 1rem;
} */
/* .about-h1 {
    margin: 0;
    position: relative;
    text-align: center;
} */


.gallery-container {
    display: grid;
    justify-content: space-evenly;
    /* align-items: center; */
    /* place-items: center; */
    grid-template-columns: repeat(auto-fit, minmax(12rem, 0.3fr));
    grid-auto-rows: 12rem;
    grid-gap: 0.5rem;
    padding: 2rem;
}

.gallery-item {
    position: relative;
    /* justify-self: center; */
    /* align-self: center; */
}

.gallery-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 0.2rem;
    cursor: pointer;
}

.plant-name {
    position: absolute;
    bottom: -1rem;
    text-align: center;
    background-color: white;
    opacity: 0.3;
    width: 100%;
    padding: 0.6rem;
}
.plant-name:hover {
    opacity: 1;
    transition: opacity 450ms ease-in-out;
}

/* SECRET MESSAGE */
.secret-wrapper {
    position: relative;
    background-position: center;
    /* height: 100vh; */
    width: 100%;
}

.secret-wrapper::before {
    content: "";
    background-image: url(../img/plant8.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

/* CONTACT */
.contact-wrapper {
    background-image: url(../img/plant5.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* min-width: 500px; */
    width: 100%;
    opacity: 0.5;
    width: 100%;
}

footer {

}

.footer-box > img {
    width: 100px;
}