body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* (min-width : 320px) */

/* HERO */
.hero-wrapper {
    background-image: url(../img/plant4.jpg);
    background-size: cover;
    /* background-position: center; */
    /* background-repeat: ; */
    height: 100vh;
    /* position: a; */
    /* min-width: 100vw; */
    /* width: 100%; */
    color: white;
    /* margin: 0;
    padding: 0; */



}

/* MENU */
header {
    /* display: flex; */
    /* justify-content: center; */
    /* position: relative; */
    /* width: 100wh; */
}

.fa-bars::before {
    font-size: 3rem;
    /* width: 100wh; */
    /* padding-top: 10rem; */
    /* position: absolute; */
    /* right: 10%; */
    /* color: #55ad00; */
    /* opacity: 0.; */
    /* text-align: ; */
}

.dropbtn {
    margin: 1rem;
    /* text-decoration: none; */
    /* color: inherit; */
    /* width: 100wh; */
}

/* DROPDOWN MENU */
.dropdown {
    position: relative;
    display: flex;
    /* flex-direction: row; */
    /* width: 100wh; */
  }

.dropdown-content {
    display: none;
    position: absolute;
    top: 1.1rem;
    left: 4rem;
    /* left: 50px; */
    /* min-width: 100vw; */
    width: 100vw;
    z-index: 1;
    overflow: hidden;
    background-color: white;
    /* border-radius: .5rem; */
    opacity: 0.5;
}

.dropdown-content a {
    display: flex;
    /* justify-content: space-between; */
    text-decoration: none;
    color: black;
    font-size: .9rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: .8rem .25rem .8rem .25rem;
    /* text-align: center; */
    
    /* text-align: right; */
}

.dropdown-content a:hover {
    background-color: #fca311;;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: row;
}

/* HERO TEXT */
.hero-text {
    display: grid;
    place-items: center;
    padding: 3rem;
}

.hero-h1 {
    /* text-align: center; */
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: #fca311;
}

.hero-parag {
    font-style: italic;
    opacity: 0.6;
    /* font-size: 1.2rem; */
}

.start-btn {
    background-color: #fca311;
    padding: 0.5rem 3rem;
    border-radius: 2rem;
    font-weight: bold;
    margin-top: 4rem;
    text-transform: uppercase;
}

.start-btn:hover {
    font-size: 150%;
    background-color: transparent;
    color: #fca311;
    border: #fca311 7px solid;
    /* text-transform: uppercase; */
    
}

/* ABOUT */
.about-wrapper {
    background-image: url(../img/plant3.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* min-width: 500px; */
    width: 100%;
    opacity: 0.5;
    width: 100%;
}

.about-h1 {
    margin: 0;
}

.something-wrapper {
    background-image: url(../img/plant1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* min-width: 500px; */
    width: 100%;
    opacity: 0.5;
    /* width: 100%; */
}

.contact-wrapper {
    background-image: url(../img/plant5.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* min-width: 500px; */
    width: 100%;
    opacity: 0.5;
    width: 100%;
}

footer {

}

.footer-box > img {
    width: 100px;
}